sql-dwh-adf/pipeline/pl_live_ingest.json
{
	"name": "pl_live_ingest",
	"properties": {
		"activities": [
			{
				"name": "get_target_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 1 target_table \nFROM bronze.metadata_control \nWHERE '@pipeline().parameters.Filename' LIKE file_prefix + '%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_asql_db_bronze",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": "metadata_control"
						}
					}
				}
			},
			{
				"name": "exec_worker",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "get_target_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_ingest_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Foldername": {
							"value": "@pipeline().parameters.Foldername",
							"type": "Expression"
						},
						"Filename": {
							"value": "@pipeline().parameters.Filename",
							"type": "Expression"
						},
						"Tablename": {
							"value": "@activity('get_target_table').output.firstRow.target_table",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Foldername": {
				"type": "string"
			},
			"Filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Control-table-Pl"
		},
		"annotations": [],
		"lastPublishTime": "2026-05-17T02:27:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}