sql-dwh-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sql-dwh-adf"
		},
		"Ls_azure_sql_bronze_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Ls_azure_sql_bronze'"
		},
		"Ls_blob_storage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ls_blob_storage'"
		},
		"Ls_azure_sql_bronze_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqldwh14.database.windows.net"
		},
		"Ls_azure_sql_bronze_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql_data_ware_house"
		},
		"Ls_azure_sql_bronze_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "prasad15"
		},
		"tr_on_blob_csv_arrival_properties_pl_live_ingest_parameters_Foldername": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"tr_on_blob_csv_arrival_properties_pl_live_ingest_parameters_Filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"tr_on_blob_csv_arrival_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0bd10967-5ab8-4a0d-a33b-614f58a3e11d/resourceGroups/SQL-DHW-RG/providers/Microsoft.Storage/storageAccounts/sadhingestprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ls_azure_sql_bronze')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Ls_azure_sql_bronze_properties_typeProperties_server')]",
					"database": "[parameters('Ls_azure_sql_bronze_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Ls_azure_sql_bronze_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Ls_azure_sql_bronze_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_blob_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Ls_blob_storage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_asql_db_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_azure_sql_bronze",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "bronze",
					"table": {
						"value": "@dataset().Tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_azure_sql_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_blob_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Foldername": {
						"type": "string"
					},
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Foldername",
							"type": "Expression"
						},
						"container": "inbound-landing-zone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "cst_id",
						"type": "String"
					},
					{
						"name": "cst_key",
						"type": "String"
					},
					{
						"name": "cst_firstname",
						"type": "String"
					},
					{
						"name": "cst_lastname",
						"type": "String"
					},
					{
						"name": "cst_marital_status",
						"type": "String"
					},
					{
						"name": "cst_gndr",
						"type": "String"
					},
					{
						"name": "cst_create_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pl_ingest_file')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_csv_to_sql_bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.Foldername",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_blob_source",
								"type": "DatasetReference",
								"parameters": {
									"Foldername": {
										"value": "@pipeline().parameters.Foldername",
										"type": "Expression"
									},
									"Filename": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_asql_db_bronze",
								"type": "DatasetReference",
								"parameters": {
									"Tablename": {
										"value": "@pipeline().parameters.Tablename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Foldername": {
						"type": "string"
					},
					"Filename": {
						"type": "string"
					},
					"Tablename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Control-table-Pl"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-17T01:19:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_blob_source')]",
				"[concat(variables('factoryId'), '/datasets/Ds_asql_db_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pl_backlog_sweep')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_get_processing_tasks",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT file_prefix, source_folder, target_table FROM bronze.metadata_control",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Ds_asql_db_bronze",
								"type": "DatasetReference",
								"parameters": {
									"Tablename": "metadata_control"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_task",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_get_processing_tasks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_get_processing_tasks').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "exec_worker_ingestion",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Pl_ingest_file",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Foldername": {
												"value": "@item().source_folder",
												"type": "Expression"
											},
											"Filename": {
												"value": "@concat(item().file_prefix, '*.csv')",
												"type": "Expression"
											},
											"Tablename": {
												"value": "@item().target_table",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Control-table-Pl"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-17T04:30:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_asql_db_bronze')]",
				"[concat(variables('factoryId'), '/pipelines/Pl_ingest_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_live_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_target_table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 1 target_table \nFROM bronze.metadata_control \nWHERE '@pipeline().parameters.Filename' LIKE file_prefix + '%'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Ds_asql_db_bronze",
								"type": "DatasetReference",
								"parameters": {
									"Tablename": "metadata_control"
								}
							}
						}
					},
					{
						"name": "exec_worker",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "get_target_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pl_ingest_file",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Foldername": {
									"value": "@pipeline().parameters.Foldername",
									"type": "Expression"
								},
								"Filename": {
									"value": "@pipeline().parameters.Filename",
									"type": "Expression"
								},
								"Tablename": {
									"value": "@activity('get_target_table').output.firstRow.target_table",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Foldername": {
						"type": "string"
					},
					"Filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Control-table-Pl"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-17T02:27:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_asql_db_bronze')]",
				"[concat(variables('factoryId'), '/pipelines/Pl_ingest_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_on_blob_csv_arrival')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_live_ingest",
							"type": "PipelineReference"
						},
						"parameters": {
							"Foldername": "[parameters('tr_on_blob_csv_arrival_properties_pl_live_ingest_parameters_Foldername')]",
							"Filename": "[parameters('tr_on_blob_csv_arrival_properties_pl_live_ingest_parameters_Filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inbound-landing-zone/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_on_blob_csv_arrival_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_live_ingest')]"
			]
		}
	]
}